html, body {
  font-family: 'Lato', sans-serif;
  background-color: #FFFFFF;
  margin: 0;
  padding: 0;
}

/* Header */

.header {
  width: 100%;
  background-color: #00342068;
}

.nav {
  display: flex;
  align-items: center;
  height: 100%;
}

.logo {
  height: 7vh;
  padding: 1%;
}

.navlinks {
  display: flex;
  gap: 3vw;
}

.navlinks li {
  list-style: none;
  font-size: 2vh;
  font-weight: bold;
  color: #FFFFFF;
  cursor: pointer;
}

.maincontent {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background: url('background.jpg') no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

/* HomePage */

.homepage {
  position: absolute;
  width: 100%;
  top: 34%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  justify-content: center;
}

.introtext {
  background-color: #00342068;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  color: #FFFFFF;
  padding: 2%;
  border-radius: 10px;
}

.introtext h1 {
  font-size: 5vh;
  font-weight: 800;
}

.introtext p {
  margin-top: 20px;
  font-size: 2.4vh;
  line-height: 1.5;
}

/* CollectionPage */

.container {
  width: 80%;
  padding: 20px;
  margin: 0 auto;
}

.section {
  margin-bottom: 40px;
  padding: 20px;
  background-color: #00342068; /* Encadré */
  border-radius: 8px;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 3vh;
  font-weight: bold;
  color: white;
}

.collectionForm {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 3.2vh;
}

.select {
  padding: 8px;
  border: 2px solid #003420;
  border-radius: 10px;
  font-size: 16px;
  width: 16vw;
}

.createButton {
  padding: 8px 16px;
  background-color: #006837;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.createButton:hover {
  background-color: #004d2b;
}

.collectionGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}

.collectionItem {
  text-align: center;
}

.collectionImage {
  height: 10vh;
  max-width: 10vw;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.collectionItem p {
  margin-top: 10px;
  font-size: 18px;
  color: white;
}

/* MintPage */

.cardsContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 10px;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  cursor: pointer;
}

.cardImage {
  width: 100%;
  height: auto;
  object-fit: cover;
}

/* MintForm */

.closeButton {
  cursor: pointer;
  font-size: 1.7vw;
  font-weight: 100;
  color: white;
  background-color: transparent;
  border: 0.1vw solid white;
  border-radius: 10px;
  width: 2.6vw;
  height: 3.3vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 0.4vh;
  margin-top: 0.6vh;
  margin-left: 1vw;
}

.closeButton:hover {
  background-color: #004d2b;
}

.cardFormContent {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 77vh;
  gap: 5%;
  margin-top: -6vh;
}

.cardFormImage {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: -2.8vh;
}

form p {
  color: white;
  font-size: 1vw;
}

form select, form input {
  padding: 8px;
  border: 2px solid #003420;
  border-radius: 10px;
  font-size: 16px;
  width: 15vw;
}

form button {
  padding: 8px;
  border: 2px solid #003420;
  border-radius: 10px;
  font-size: 16px;
  margin-top: 3.8vh;
}

form button:hover {
  background-color: #004d2b;
}